[Unit]
Description=Email-to-Matrix Microservice

[Service]
Type=simple
Restart=always
Environment="RUST_LOG=info"
ExecStart=/path/to/email-to-matrix <path to config file>

[Install]
WantedBy=multi-user.target
