[Unit]
Description=Matrix Room Bot (Microservice for sending strings)

[Service]
Type=simple
Restart=always
Environment="RUST_LOG=info"
ExecStart=/path/to/mrb <path to config file>

[Install]
WantedBy=multi-user.target
